<!DOCTYPE html>
<html>
  <head>
    <title>PlanA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="center-body stack">
  <nav class="cluster" style="justify-content:space-between">
    <div><%= link_to "Home", root_path %></div>
    <div class="cluster" style="justify-content:flex-start;">
      <div><%= link_to "Training Weeks", training_weeks_path %></div>
      <div><%= link_to "Workouts", workouts_path%></div>
    </div>
  </nav>

    <%= yield %>
  </body>
</html>
