<!DOCTYPE html>
<html>
  <head>
    <title>PlanA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <nav class="cluster box" style="justify-content:space-between">
    <div>logo</div>
    <div class="cluster" style="justify-content:flex-start;">
      <div>login</div>
      <div>link-1</div>
      <div>link-2</div>
    </div>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
